
body {
width: 1440px;
height: 100vh;
background-color:  hsl(185, 75%, 39%);
background-image:url('file:///C:/Users/Owner/Desktop/challenge/first%20challenge/Profile-card-HTML-CSS/bg-pattern-top.svg'), url('file:///C:/Users/Owner/Desktop/challenge/first%20challenge/Profile-card-HTML-CSS/bg-pattern-bottom.svg') ;
background-position:  right 47vw bottom 43vh, left 50vw top 40vh;
background-repeat: no-repeat;
overflow: hidden;

}

.card {
  width: 21vw;
  height: 47.2vh;
  position: absolute;
  top: 30%;
  left: 41%;
  border-radius: 3%;
  
  background-color: white;
  background-image: url('file:///C:/Users/Owner/Desktop/challenge/first%20challenge/Profile-card-HTML-CSS/images/bg-pattern-card.svg');
  background-size:  101% 120px;
  background-repeat: no-repeat;


 
   
 
}

img{
  
  width: 29%;
  height: 27%;
 
  position: absolute;
  right: 7.2vw;
  bottom:24.5vh;
  border-radius: 47%;
  border: 3.3px solid rgb(255, 255, 255);

 }

 .info{
   text-align: center;
 }

 p{
  font-family: Kumbh Sans, sans-serif;
 font-weight: 1000;
 }
 
#age{
   color: hsl(0, 0%, 59%);
   margin-left: 5px;
   font-weight: 470;
   }

.line2{
    color: hsl(0, 0%, 59%);
    font-weight:3; 
    font-size: 13.5px;
    margin-top: -9px;
   }
.line3{
  color: hsl(0, 2%, 82%);

}

.line4{
  word-spacing: 52px;

  text-align: center;
}

.line5{
  color:hsl(0, 0%, 59%);
  font-weight: 3;
  word-spacing: 54px;
  font-size: 9px;
 
  letter-spacing:1px;
  margin-top: -8px;
  text-align: center;
  margin-right: 16px;

}

.attribution{
  position: fixed;
  left: 19px;
  bottom: 30px;
  width: 100%;
  
  color: rgb(0, 0, 0);
  text-align: center;
}
